*{
    margin: 0px;
    padding: 0px;
    
}
header img{
    width: 220px;

}
#itens{
    display: none;
}
.menu{
    background-color: #2222FE;
    border: 2px solid white;
    display: block;
    color: white; 
    text-decoration: none;
    text-align: center;
}
.menu:hover{
    background-color: white;
    color: #2222FE;
    border: 2px solif #2222FE;
}
#burguer{
    display: block;
    padding: 10px;
    text-align: center;
    border: 1px solid #2222FE;
    cursor: pointer;
}

















main{
    background-color: #2222FE;
    
    padding: 40px;
    
} 
.conteudo{
    background-color: white;
    width: 400px;
    margin: auto;
    padding: 30px;
    border-radius: 15px;
}




h1{
    padding: 20px;
    font-size: 2em;
    color: rgb(6, 6, 52);
    text-align: center;
}
div{
    padding-left: 30px;

    font-size: 1.2;
    font-family: Arial, Helvetica, sans-serif;

}
input{
    height: 30px;
    background-color: lightcyan ;
    border-radius: 15px;
}
.submit{
    background-color: #2222FE;
    color: white;
    width: 100px;
    cursor: pointer;

}
.check{
    padding: 10px;
}
.entrar{
    padding: 10px;

}
aside{
    padding: 15px;
}