@charset utf8 
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');

*{
 margin: 0px;
 padding: 0px;
    
}
body{
    min-width:100vh 
}
header{
    background-color: black;
    color:white;
    text-align: center;
    width: auto;
    height:200px;
    padding: 30px;
    margin: -10px;
    font-style:inherit;
   
}
h1{
    font-family:'passion one', Arial, Helvetica, sans-serif;
    font-size: 4em;

}
a{
    text-decoration:none ;
    color: white;
}
a:hover{
    text-decoration: underline;
}
/*  CSS DE HEADER */













div{

    font-family: 'Sriracha', cursive,Arial, Helvetica, sans-serif;
   
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 45px;
    line-height: 2em;
   
    
}
.imagem{
    background-color: black;
}
.simples{
background-color: white;
color: black;

}
.back{ 
    background-color: rgba(120, 117, 117, 0.3);
    color: white;
    padding: 5px;
    width: 200px;
    border-radius: 10px;
    
}
p{
    padding-bottom:2em  ;
}
div#img01{ background-image: url('pacote-d012/imagens/background001.jpg');
    background-position: right center;
    background-size: cover;
    background-attachment: fixed;

}
div#img02{
    background-image: url('pacote-d012/imagens/background002.jpg');
    background-position: right center;
    background-size: cover;
    background-attachment: fixed;
}